form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  